.title{
  text-align: center;
}

.cus-nav{
  display: -webkit-inline-box
}
.nav-link{
  padding: 0;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.whole-context{
  padding-top: 10%;
  display: flex;
  justify-content: center;
}
