<nav class="navbar cus-nav fixed-top navbar-light bg-light">
  <a  class="nav-link" routerLink="/home" routerLinkActive="active">
    <img src="http://placekitten.com/g/50/40" alt="logo-nav">
  </a>
   <a  class="nav-link" routerLink="/home" >
     <button class="btn btn-primary">Home</button>
   </a>
   <a class="nav-link " routerLink="/about" >
     <button class="btn btn-primary">About</button>
   </a>
   <a class="nav-link " routerLink="/join" >
     <button class="btn btn-primary">Join us</button>
   </a>
   <a class="nav-link " routerLink="/team" >
     <button class="btn btn-primary">Our Team</button>
   </a>
   <a class="nav-link " routerLink="/press" >
     <button class="btn btn-primary">Press</button>
   </a>
   <a class="nav-link " routerLink="/events" >
     <button class="btn btn-primary">Events</button>
   </a>
   <button class="navbar-toggler tog_btn" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
 </button>
 </nav>
 <div  class="whole-context">
   <router-outlet></router-outlet>
 </div>
