<title>{{title}}</title>
<nav class="navbar cus-nav fixed-top navbar-light bg-light">
  <a  class="nav-link" routerLink="/home" routerLinkActive="active">
    <img src="http://placekitten.com/g/50/40" alt="logo-nav">
  </a>
   <a  class="nav-link" routerLink="/home" >
     <button class="btn">Home</button>
   </a>
   <a class="nav-link " routerLink="/about" >
     <button class="btn">About</button>
   </a>
   <a class="nav-link " routerLink="/join" >
     <button class="btn">Join us</button>
   </a>
   <a class="nav-link " routerLink="/team" >
     <button class="btn">Our Team</button>
   </a>
   <a class="nav-link " routerLink="/press" >
     <button class="btn">Press</button>
   </a>
 </nav>
 <div  class="whole-context">
   <router-outlet></router-outlet>
 </div>
