.title{
  text-align: center;
}

.cus-nav{
  display: -webkit-inline-box
}
.nav-link{
  padding: 0;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.whole-context{
  padding-top: 5%;
  display: flex;
  justify-content: center;
}

.tog_btn{
  display: none;

}
@media screen and (max-width:760px){
  .nav-link{
    display: none;
  }
  .cus-nav{
    height: 60px
  }
  .tog_btn{
    display: block;
  }
}
