* {
  margin: 0px;
  padding: 0px
}

.container{
  min-height: 95vh;
}

.main{
  overflow: auto;
  padding-bottom:  50px
}

.footer{
  background-color: #000;
  position: relative;
  height: 50px;
  clear: both;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: small
}

.foot-con{
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.foot-text{
  padding: 4px;
  color: white;
}
