.whole-con{
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.img-step{
  height: 300px;
  width: 300px;
}
.img-con{
  display: flex;
  justify-content: center;
}
